body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #4d5056;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}

.header {
    background-color: #080a11;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    /* margin: 10px; */
    padding: 15px;
    height: 70px;
}

.header ol, ul {
    display: flex;
    height: inherit;
}

.header li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
    font-style: italic;
}

h1 {
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.2px;
}

h1 strong {
    color: #5cde87;
}

section {
    /* display: flex; */
    box-sizing: content-box;
    margin:10px 25px 0 25px;
}

article {
    width: 50%;
    border-color: aquamarine;
    border-width: 3px;
    border-radius: 8px;
    border-style: ridge;
    margin: 10px;
    padding: 15px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* selector de clase inicia con un punto*/

.hero-Description {
    color: whitesmoke;
}

.hero {
    height: 400px;
    background-color: #4b4e55;
    background-image: url("https://c.wallhere.com/photos/47/01/Houseki_no_kuni_Phos_Houseki_no_Kuni_gold-1224133.jpg!d");
    background-size: 700px 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.link {
    color: cadetblue;
    text-decoration: none;
}

/* .experience {
  /* justify-content: space-around;
} */

.experience-imageContainer {
    flex-wrap: wrap;
}

.portfolio-title {
    margin: 20px;
}

.footer {
    background-color: #080a11;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.footer a {
    color: cadetblue;
    text-decoration: none;
}

/* .poject {
}
/* Selector de Id inicia con # sharp*/

/* #portafolio {
} */